$color-default: #333333;
$color-gray: #8e8e92;
$color-mid-gray: #acacaf;
$color-light-gray: #dfdfdf;
$color-dark-gray: #757575;
$color-orange: #e38044;
$color-peach: #fff9f5;

$shadow: 0px -1px 15px -4px rgba(0, 0, 0, 0.2), -5px 2px 47px -6px rgba(0, 0, 0, 0.19);

body {
	margin: 0;
	padding: 0;
	font-family: OpenSans-Regular, sans-serif !important;
	color: #333333;
	//letter-spacing: 0.3px;
	font-size: 12px !important;
}

p {
    margin: 0 !important;
}

a {
	transition: 1s ease;
}

a:focus, a:active, a:hover {
    text-decoration: none !important;
}

input:focus, textarea:focus, button:focus {
	border: 1px solid $color-orange;
	outline: none;
	transition: 1s ease;
}

label {
	font-weight: normal !important;
	margin: 0;
}


/***************** Font Face *****************/
@font-face {
    font-family: OpenSans-Regular;
    src: url(../assets/fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Opensans-Semibold;
    src: url(../assets/fonts/open-sans/Opensans-Semibold.ttf);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(../assets/fonts/open-sans/OpenSans-Bold.ttf);
}

/************** Font Face End **************/



/************** Font Styles ***************/
.normal {
	font-family: OpenSans-Regular, sans-serif;
}

.semi-bold {
	font-family: Opensans-Semibold, sans-serif;
}

.bold {
	font-family: Opensans-Bold, sans-serif;
}
/************** Font Styles End ***************/



/************** General Style Classes  ***************/
.color-default {
	color: $color-default !important;
}

.bordered {
	box-shadow: 0px -1px 15px -4px rgba(0, 0, 0, 0.2), -5px 2px 47px -6px rgba(0, 0, 0, 0.19);
}

.services-count-result-time-master {
	line-height: 1.9;

	img {
		 vertical-align: baseline;
	}
}
/* Item */
.item {
	transition: 1s background ease;
	border-top: 1px solid $color-light-gray;

	&:last-child {
		border-bottom: 1px solid $color-light-gray;

		&.active {
			border-bottom: 1px solid $color-orange !important;
		}
	}

	&.active {
		border-top: 1px solid $color-orange;
		border-bottom: 1px solid $color-orange;
		background-color: $color-peach;
	}

	.check-container {
		display: block;
	    position: relative;
	    // margin-bottom: 12px;
	    cursor: pointer;
	    font-weight: 500;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;

	    input {
			position: absolute;
		    opacity: 0;
	    }

	    input:checked ~ .checkmark {
			background-color: $color-orange;
			opacity: 1;

			&:after {
				display: block;
			}
		}

	    .checkmark {
		    position: absolute;
		    top: 44%;
		    right: 0;
		    height: 9px;
		    width: 9px;
		    background-color: #eee;
		    border-radius: 50%;
		    opacity: 0;

		    &:after {
			    top: 3px;
			    left: 0;
			    right: 0;
			    margin: auto;
			    width: 3px;
			    height: 3px;
			    border-radius: 50%;
			    background: white;
				content: "";
			    position: absolute;
			    display: none
		    }
	    }
	}
}

/* Nav Bottom */
.nav-bottom {
	height: 57px;
	line-height: 57px;
	padding: 10px 22px;
	margin-top: 12px;
    vertical-align: middle;
    border-radius: 3px;
    text-align: center;

    span.services-count-result {
	    display: inline-block;
	    margin-top: -8px;
	    margin-left: -118px;
	    vertical-align: top;
    }

	span {
		img {
			vertical-align: baseline;
		}
	}

	a {
		display: inline-flex;

		&:hover {
			opacity: 0.8;
		}
	}

	.nav-bottom-item {
		width: 80px;
		height: 35px;
		line-height: 34px;
		text-align: center;
  

		img {
			height: 7px;
		}
	}

	.back.nav-bottom-back {
		color: $color-dark-gray;
		width: 60px;

		img {
			-ms-transform: rotate(180deg); /* IE 9 */
		    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
		    transform: rotate(180deg);
		    margin-left: -7px;
		    margin-right: 7px;
		}
	}	

	.next.nav-bottom-next {
		color: #fff;
		background-color: $color-orange;
		border-radius: 5px;

		img {
			margin-left: 7px;
		}
	}
}

/* Choose Options Top */
.choose-options.choose-options-top-responsive {
	display: none;

	.choose-options-logo {
		//width: 114px;
		display: inline-block;
		text-align: center;
		padding: 22px;

		img {
			max-height: 100%;
		    display: table-cell;
			margin: auto;
		}
	}

	.choose-options-top-container {
		display: inline-block;
		vertical-align: top;
   		height: 75px;
   		width: calc(100% - 110px);
   		padding: 10px;
   		line-height: 1.9;

		.choose-option-num-container{
			font-size: 16px;
			font-family: Opensans-Bold, sans-serif;
			color: $color-light-gray;
			text-align: center;
			display: flex;
		    justify-content: center;
		    align-items: center;
		    overflow: hidden;

			.choose-option-num {
				display: inline-block;
				padding-left: 8px;
				padding-right: 8px;
				flex: auto;

				&.active {
					color: $color-orange;
				}
			}

			span {
				flex: auto;
			}
		}		

		.choose-option-title {
			font-family: OpenSans-Bold, sans-serif;
			font-size: 14px;
			text-align: center;
			overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		}
	}
}

.choose-options.choose-options-top {

	.choose-options-logo {
		width: 90px;
		display: inline-block;
		text-align: center;

		img {
			max-height: 100%;
		    display: table-cell;
			margin: auto;
		}
	}

	.choose-options-container {
		display: inline-block;
		width: calc(100% - 94px);

		.choose-options-inner-container {
		    display: -webkit-box;
		    display: -moz-box;
		    display: -ms-flexbox;
		    display: -webkit-flex;
		    display: flex;
		    flex-wrap: wrap;
		    align-items: center;
		    justify-content: space-between;
		}

	}
	.choose-option {
		height: 55px;
		width: 20%;
		flex: auto;
		border-left: 1px solid $color-light-gray;
		display: inline-block;

		&.active {
			color: $color-orange;

			p.choose-option-num {
				color: $color-orange;
			}
		}

		.choose-option-inner {
			text-align: center;
			line-height: 55px;
		}
	}

	p {
	    display: inline-block;
	    text-align: left;
	    font-family: Opensans-Bold, sans-serif;

	    &.choose-option-num {
	    	font-size: 28px;
	    	padding-right: 8px;
	    	color: $color-light-gray;
	    }

	    span {
	    	display: block;
	    	font-size: 12px;
	    	line-height: 1.2;
	    }
	}
}

/* Choose Options Content */
.choose-options-content {
	height: 402px;
	max-height: 402px;
	//overflow-y: scroll;
	margin-top: 20px;

	.content-right-block {
		max-height: 402px;
		overflow-y: scroll;

		&::-webkit-scrollbar-track {
			// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			// height: 40px;
			// border-radius: 10px;
			// background-color: #F5F5F5;
		}

		&::-webkit-scrollbar {
			width: 0px;
			background-color: #F5F5F5;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 5px;
			height: 40px;
			// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
			background-color: #e4e7e8;
		}
	}

}

/* Content Left Block */
.content-left-block {
	background-color: #f5f5f5;
	border-right:  1px solid $color-light-gray;
	width: 174px;
	//max-width: 20%;
    height: 100%;
    float: left;

	.content-left-block-item {
		min-height: 53px;
		padding: 5px 10px;
		border-bottom:  1px solid $color-light-gray;

		.content-left-block-item-title {
			font-family: Opensans-Bold;
			line-height: 1.9;
		}

		p:not(.content-left-block-item-title) {
			color: $color-gray;
		}
	}
}

.content-right-block {
	// width: 598px;
	// float: left;
}

.contacts-master-email-spam.responsive {
	display: none;

	img {
		width: 28px;
	}

	div:last-child {
		width: calc(100% - 70px);
	}
}



/* Choose Master Content */
.choose-options-content.services-service-content.services-service-master-chosen,
.choose-options-content.services-service-content.services-service-master-not-chosen
 {
	display: none;
}

.services-count-result.responsive {
	position: absolute;
	bottom: 0;
	border-top: 1px solid $color-light-gray;
	display: block !important;
	height: 46px;
    line-height: 46px;
    text-align: center;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}



/************** General Style Classes End ***************/
.page {
	// position: absolute;
 //    top: 50%;
 //    margin-top: -320px;
 //    left: 0;
 //    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page-wrapper {
	width: 860px;
	max-width: 100%;
	height: 600px;
	margin: auto;
	position: relative;

	.page-inner-wrapper {
		height: 100%;
		padding: 22px 44px;

		&.choose-city {
			padding: 22px 44px 40px !important;
		}

		.close-gray {
			height: 11px;
			float: right;
			transition: 1s ease;

			&:hover {
				opacity: 0.6;
			}
		}
	}

	.page-container {
		margin: 28px 0;
		height: 100%;
		border-radius: 3px;

		&.address-master {
			// width: 770px;
		}


		/******* Choose City *******/
		.choose-city-wrapper {
			width: 292px;
			margin: auto;
			padding-top: 25px;


			.choose-city-container {
				margin-top: 26px;
				margin-bottom: 32px;
				max-height: 151px;
			    overflow-y: scroll;
    			direction: rtl;


			    .force-overflow {
			    	width: 282px;
			    	direction: ltr;
			    }

		    	&::-webkit-scrollbar-track {
					// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
					// height: 40px;
					// border-radius: 10px;
					// background-color: #F5F5F5;
				}

				&::-webkit-scrollbar {
					width: 10px;
					background-color: #F5F5F5;
				}

				&::-webkit-scrollbar-thumb {
					border-radius: 5px;
					height: 40px;
					// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
					background-color: #e4e7e8;
				}

				.choose-city-item {
					height: 50px;
					line-height: 50px;
					font-size: 14px;
					padding: 0 15px;
					font-family: OpenSans-Regular, sans-serif;

					&:last-child {
						border-bottom: 1px solid $color-light-gray;
					}
				}
			}

			.choose-options.choose-city {
				margin-top: 20px;
				padding: 0px 5.08px;

				.choose-options-item {
					width: 130px;
					color: $color-dark-gray;

					h6 {
						margin-top: 8px;
    					line-height: 1.4;
					}

					.choose-options-item-cont {
						width: 100%;
						height: 130px;
						line-height: 130px;
						border-radius: 3px;
						border: 1px solid $color-light-gray;
						transition: 1s ease;
						cursor: pointer;
						text-align: center;

						.choose-options-item-label {
							input {
								position: absolute;
								opacity: 0;
							}
						}

						&:hover, &.active {
							border: 1px solid $color-orange;
							background-color: $color-peach;
						}
						img {
							height: 64px;
							width: 50px;
						}	
					}
				}
			}
		}


		/* Address Master Content */
		.address-master-content {
			height: 402px;
			margin-top: 20px;

			.address-master-toggle {
				text-align: center;
				height: 40px;
				line-height: 40px;
				display: none;

				.address-master-switch {
					height: 20px;
					display: inline-block;
					margin-left: 12px;
				    margin-right: 12px;

					/* Switch */
					.switch {
						position: relative;
						display: inline-block;
						width: 40px;
						height: 16px;
						margin: 0;
						margin-top: 12px;
					}

					.switch input {display:none;}

					.slider {
						position: absolute;
						cursor: pointer;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background-color: #fff;
						-webkit-transition: .4s;
						transition: .4s;
					}

					.slider:before {
						position: absolute;
						content: "";
						height: 10px;
						width: 10px;
						left: 0;
						top: 2px;
						background-color: $color-orange;
						-webkit-transition: .4s;
						transition: .4s;
					}

					input:checked + .slider {
						background-color: #fff;
					}

					input:focus + .slider {
						box-shadow: 0 0 1px #fff;
					}

					input:checked + .slider:before {
						-webkit-transform: translateX(26px);
						-ms-transform: translateX(26px);
						transform: translateX(26px);
					}

					/* Rounded sliders */
					.slider.round {
						border-radius: 34px;
						border: 1px solid $color-light-gray;
					}

					.slider.round:before {
						border-radius: 50%;
					}
					/* Switch End*/
				}

				span {
					vertical-align: top;
					text-transform: uppercase;
					display: inline-block;

					&.active {
						color: $color-orange;
					}
				}
			}

			.addresses-box.address-master {
				width: 304px;
				max-height: 402px;
				height: 100%;
			    overflow-y: scroll;
			    direction: rtl;
			    // display: inline-block;
			    float: left;

			    .force-overflow {
			    	width: 294px;
			    	direction: ltr;
			    }

		    	&::-webkit-scrollbar-track {
					// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
					// height: 40px;
					// border-radius: 10px;
					// background-color: #F5F5F5;
				}

				&::-webkit-scrollbar {
					width: 10px;
					background-color: #F5F5F5;
				}

				&::-webkit-scrollbar-thumb {
					border-radius: 5px;
					height: 40px;
					// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
					background-color: #e4e7e8;
				}

				.addresses-box-item {
					height: 60px;
					line-height: 57px;
					padding: 0 12px;

					&:hover {
						background-color: $color-peach;
					}
					.addresses-box-pic-container {
						height: 38px;
						width: 38px;
						line-height: 36px;
						border-radius: 50px;
						display: inline-block;
						background-color: #5c24fa;
						background-image: url(../assets/images/salon.png);
						background-repeat: no-repeat;
						background-size: cover;
						vertical-align: middle;

						img {
							height: 38px;
    						width: 38px;
    						border-radius: 50%;
						}

					}

					.addresses-box-info-container {
						display: inline-block;
						vertical-align: middle;
						margin-left: 5px;

						p {
							line-height: 1.9;

							&:first-child {
								font-size: 14px;
							}							
							&:last-child {
								font-size: 12px;
								color: $color-gray;
							}
							img {
								height: 11px;
								vertical-align: baseline;
							}
						}
					}
				}
			}

			.map-container.address-master-map-container {
				// display: inline-block;
				float: left;
				height: 100%;
				width: calc(100% - 304px);
				background: lightgray;
			}
		}

		/* Contacts Master Content */
		.contacts-master-content {
			// .contacts-master-left-block {
			// 	background-color: #f5f5f5;
			// 	border-right:  1px solid $color-light-gray;
			// 	width: 174px;
			//     height: 100%;
			//     float: left;

			// 	.contacts-master-left-block-item {
			// 		height: 55px;
			// 		padding: 10px;
			// 		border-bottom:  1px solid $color-light-gray;

			// 		.contacts-master-left-block-item-title {
			// 			font-family: Opensans-Bold;
			// 			line-height: 1.9;
			// 		}

			// 		p:last-child {
			// 			color: $color-gray;
			// 		}
			// 	}
			// }

			.contacts-master-right-block {
				width: calc(100% - 174px);
				float: left;
				padding: 0 20px 20px;

				.contacts-master-right-block-first {
					width: 260px;
					display: inline-block;
				}				
				.contacts-master-right-block-second {
					display: inline-block;
					vertical-align: bottom;
					margin-bottom: -5px;
					margin-left: 14px;
					width: 280px;
				}

				.contacts-master-email-spam {
					padding-top: 16px;
					color: $color-mid-gray;

					img {
						height: 28px;
						margin-right: 10px;
						display: inline-block;
					}

					div {
						display: inline-block;
						vertical-align: middle;
						line-height: 1.9;
					}
				}

				.form-content {
					.form-item {
						label {
							display: block;
							font-size: 14px;
							margin: 10px 0;
						}

						input {
							height: 40px;
							width: 100%;
							max-width: 100%;
							border: 1px solid $color-light-gray;
							border-radius: 4px;
							padding: 0 16px;
							font-size: 14px;

							&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
							  color: $color-gray;
							}
							&::-moz-placeholder { /* Firefox 19+ */
							  color: $color-gray;
							}
							&:-ms-input-placeholder { /* IE 10+ */
							  color: $color-gray;
							}
							&:-moz-placeholder { /* Firefox 18- */
							  color: $color-gray;
							}

							&:focus {
								border: 1px solid $color-orange;
							}
						}

						textarea {
							height: 254px;
							width: 100%;
							max-width: 100%;
							border: 1px solid $color-light-gray;
							border-radius: 4px;
							padding: 10px;
							resize: none;

							&:focus {
								border: 1px solid $color-orange;
							}
						}

						p {
							color: $color-gray;
							padding-top: 4px;
							line-height: 1.9;
						}

						&.contacts-master-email {
							margin-top: 16px;
						}
					}
				}
			}
		}

		/* Master Master Content */
		.master-master-content {
			
			.content-right-block.master-master-right-block {
				max-width: 598px;
				//display: inline;
			}
			.masters-list {
				display: -webkit-flex; /* Safari */
			    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
				display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
				display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
				display: -ms-flexbox;      /* TWEENER - IE 10 */
				display: -webkit-flex;     /* NEW - Chrome */
				display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */ 
			    flex-wrap: wrap;
				//align-items: center;
			    justify-content: flex-start;
			    max-height: 402px;
    			// overflow: auto;
			    //display: inline-block;

				.masters-list-item {
					width: 25%;
					max-width: 170px;
					min-height: 160px;
					text-align: center;
					padding-bottom: 5px;
					float: left;
					transition: 1s ease;
					border-left: 1px solid $color-light-gray;
    				border-bottom: 1px solid $color-light-gray;

    				&:hover {
    					background-color: $color-peach;
    				}

					&.active {
						border: 1px solid $color-orange;
						background-color: $color-peach;

						.master-checked-tick {
							opacity: 1 !important;
						}
					}

					&:last-child {
						border-right: 1px solid $color-light-gray;
					}

					.masters-list-item-label {

			    		input[type=checkbox] {
							opacity: 0;
						}

						.master-pic-container-main {
							position: relative;
							margin-top: -10px;

							.master-checked-tick {
								position: absolute;
							    top: -3px;
							    left: 5px;
							    opacity: 0;
							}
						}


						.master-pic-container {
						    height: 80px;
						    width: 80px;
						    line-height: 78px;
						    border-radius: 50px;
						    display: inline-block;
						    background-color: #5c24fa;
						    background-image: url(../assets/images/master-pic.png);
						    background-repeat: no-repeat;
							background-size: cover;

						    img {
								height: 80px;
							    width: 80px;
							    border-radius: 50%;
						    }
						}

						.master-list-item-name {
							font-size: 14px;
							line-height: 1.9;
							padding-top: 5px;
							color: #404148;
						}			

						.master-list-item-position {
							color: $color-mid-gray;
						}
					}

				}
			}
		}

		/* Services Service Content */
		.content-right-block.services-service-right-block {
			width: calc(100% - 174px);
		    float: left;
		    padding: 20px;

		    &.services-master {
		    	.services-service-right-block-first-item {
		    		font-size: 14px;

		    		a {
		    			display: inline-block;

		    			img {
							height: 7px;
						    -ms-transform: rotate(180deg);
						    -webkit-transform: rotate(180deg);
						    transform: rotate(180deg);
						    margin-right: 14px;
		    			}
		    		}
		    	}
		    }

		    .services-service-right-block-first {
		    	width: 184px;
		    	float: left;
		    	margin-right: 17px;

		    	.services-service-right-block-first-item {
		    		padding: 10px;
		    		margin-bottom: 10px;
		    		box-shadow: $shadow;
		    		transition: 1s ease;
		    		cursor: pointer;

		    		&.active, &:hover {
		    			background-color: $color-peach;
		    			box-shadow: none;
		    		}

			    	.services-service-master-title-block {
			    		.services-service-title-block-back-btn {
			    			display: none;

			    			img {
				    			height: 7px;
								-ms-transform: rotate(180deg);
							    -webkit-transform: rotate(180deg);
							    transform: rotate(180deg);
							    margin-right: 14px;			    				
			    			}

			    		}
			    		.services-service-pic-container {
							height: 38px;
						    width: 38px;
						    line-height: 36px;
						    vertical-align: middle;
						    border-radius: 50px;
						    display: inline-block;
						    background-color: #5c24fa;
						    background: url(../assets/images/master-pic.png);
							background-size: cover;

						    img {
								height: 38px;
							    width: 38px;
							    border-radius: 50%;
						    }
			    		}

			    		span {
			    			display: inline-block;
			    			font-family: Opensans-Bold, sans-serif;
							line-height: 1.4;
						    vertical-align: middle;
						    font-size: 14px;
						   	margin-left: 4px;
						   	color: #404148;
			    		}
			    	}

			    	.services-service-master-info {
			    		color: $color-gray;
				    	padding-top: 8px;
	    				line-height: 1.2;

			    		.services-service-master-position {
			    			padding-bottom: 15px;
			    		}
			    		.services-service-count {
			    			color: $color-default;
			    		}
			    	}
			    }
		    }

		    .services-service-right-block-second {
		    	float: left;
		    	width: calc(100% - 201px);

		    	.services-service-search {
		    		.search {
		    			//width: 357px;
		    			height: 40px;
		    			position: relative;

		    			input {
		    				max-width: 100%;
						    width: 100%;
						    height: 100%;
						    border-radius: 4px;
						    border: 1px solid $color-light-gray;
						    background-color: #fafafa;
						    padding-left: 16px;
						    padding-right: 16px;
						    font-size: 14px;

						    &:focus {
						    	border: 1px solid $color-orange;
						    }

						    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
							  font-family: OpenSans-Regular;
							  color: $color-default;
							}
							&::-moz-placeholder { /* Firefox 19+ */
							  font-family: OpenSans-Regular;
							  color: $color-default;
							}
							&:-ms-input-placeholder { /* IE 10+ */
							  font-family: OpenSans-Regular;
							  color: $color-default;
							}
							&:-moz-placeholder { /* Firefox 18- */
							  font-family: OpenSans-Regular;
							  color: $color-default;
							}
		    			}

		    			button {
		    				height: 100%;
		    				position: absolute;
						    top: 0;
						    right: 10px;
							border: none;
						    background: none;
		    			}
		    		}
		    	}

		    	.services-master-service-list {
		    		margin-top: 16px;

		    		table {
		    			width: 100%;
		    			margin-top: 8px;

		    			tr {
		    				border-top: 1px solid $color-light-gray;
		    				//border-bottom: 1px solid $color-light-gray;

		    				&.active {
		    					border-top: 1px solid $color-orange !important;
		    					border-bottom: 1px solid $color-orange !important;
		    					background-color: $color-peach;
		    				}

		    				&:last-child {
		    					border-bottom: 1px solid $color-light-gray;
		    				}

		    				td {
			    				padding-top: 9px;
			    				padding-bottom: 9px;
			    				color: $color-gray;

			    				&:nth-child(2) {
				    				color: #404148;
				    			}

				    			&:last-child {
				    				text-align: right;
				    			}

			    				label {
			    					cursor: pointer;
			    					margin-bottom: 0;
			    				}

		    					input[type="checkbox"] {
		    						opacity: 0;
		    						position: absolute;
									font: 14px/1em sans-serif;
								    height: 14px;
								    width: 14px;

		    						& + label:before {
										border: 1px solid $color-light-gray;
										content: "\00a0";
										display: inline-block;
										font: 14px/1em sans-serif;
										height: 14px;
										width: 14px;
										margin: 2px .3em 0 0;
										padding: 0;
										vertical-align: top;
										border-radius: 3px;
		    						}

		    						&:checked + label:before {
		    							border: 1px solid $color-orange;
										background: url(../assets/images/icons/tick.png) no-repeat;
										background-position: 50%;
										background-color: $color-orange;
										text-align: center;
									}

									&:checked + label:after {
										font-weight: bold;
									}

									// &::focus + label::before {
									//     outline: rgb(59, 153, 252) auto 5px;
									// }
		    					}

		    					span {
		    						img {
		    							vertical-align: baseline;
		    						}
		    					}
			    			}
			    		}
		    		}
		    	}
		    }
		}

		/* Time Master Content */
		.content-right-block.time-master-right-block {
			width: calc(100% - 174px);
		    float: left;
		    padding: 20px;
		    overflow-y: scroll;
		    max-height: 402px;


		    &::-webkit-scrollbar-track {
				// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
				// height: 40px;
				// border-radius: 10px;
				// background-color: #F5F5F5;
			}

			&::-webkit-scrollbar {
				width: 0px;
				background-color: #F5F5F5;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: 5px;
				height: 40px;
				// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
				background-color: #e4e7e8;
			}
			.time-master-book-schedule-container {
				//margin-top: 20px;
			}

			.time-master-title-block {
				float: left;
				vertical-align: top;
				padding-bottom: 16px;

				.master-title-block-pic-container {
					height: 38px;
				    width: 38px;
				    line-height: 36px;
				    vertical-align: top;
				    border-radius: 50px;
				    display: inline-block;
				    background-color: #5c24fa;
				    background-image: url(../assets/images/master-pic.png);
				    background-repeat: no-repeat;
				    background-size: cover;
				}
				.master-title-block-text {
					display: inline-block;
					line-height: 1.6;
				    vertical-align: middle;
				    margin-left: 7px;
				    max-width: 155px;

				    p:first-child {
					    font-size: 14px;
					}
				    .time-master-master-position {
				    	color: $color-gray;
				    }
				}
			}

			.time-master-time-schedule {
				float: right;
				text-align: right;
				width: calc(100% - 237px);

				.table {
					width: 100%;
					padding-top: 4px;

					.tr {
						.td {
							text-align: center;
						    padding: 7px 0;
						    display: inline-block;

						    &.active {
						    	a {
							    	border: 1px solid $color-orange;
							    	background-color: $color-peach;
							    	color: $color-orange;
							    }
						    }
							
							a {
								color: $color-default;
								font-family: Opensans-Bold, sans-serif;
								border: 1px solid $color-light-gray;
							    border-radius: 3px;
							    -moz-border-radius: 3px;
							    -webkit-border-radius: 3px;
							    text-decoration: none;
							    padding: 4px 9px;
							}
						}
					}
				}
			}

			.time-master-service-list {
				margin-bottom: 18px;
				padding-left: 45px;

				table {
					float: right;
    				width: 100%;

					tr {
						border-top: 1px solid $color-light-gray;

	    				&:last-child {
	    					border-bottom: 1px solid $color-light-gray;
	    				}

					   td {
		    				padding-top: 9px;
		    				padding-bottom: 9px;
		    				color: $color-gray;

		    				&:first-child {
			    				color: #404148;
			    			}

			    			&:last-child {
			    				text-align: right;
			    			}
						}
					}
				}
			}
		}


		h3 {
			text-align: center;
		    font-weight: 600;
		    font-family: Opensans-Bold, sans-serif;
		}
	}
}

@media (max-width: 860px) {
	.choose-options-content {
	    min-height: 402px;
	    height: initial;
	}

	.page-wrapper .page-container .contacts-master-content .contacts-master-right-block 
	{
		max-width: 51%;
	}

	.page-wrapper .page-container .contacts-master-content .contacts-master-right-block .contacts-master-right-block-second {
		width: 260px;
    	margin-left: 0;
	}

	.page-wrapper .page-container .contacts-master-content .contacts-master-right-block .form-content .form-item textarea {
		max-width: 100%;
	}

	.contacts-master-email-spam.responsive {
		display: block;
	}	
	.contacts-master-email-spam {
		display: none;
	}
}

@media (max-width: 808px) {
	.page-wrapper .page-container .choose-options.choose-options-top {
	    display: none;
	}	
	.page-wrapper .page-container .choose-options.choose-options-top-responsive {
	    display: block;
	}
}

@media (max-width: 798px) {
	.page-wrapper .page-container .choose-options.choose-options-top {
	    display: none;
	}	
	.page-wrapper .page-container .choose-options.choose-options-top-responsive {
	    display: block;
	}

	.page-wrapper .page-container .contacts-master-content .contacts-master-right-block .contacts-master-right-block-first {
	    display: block;
	    margin: auto;
	}

	.page-wrapper .page-container .contacts-master-content .contacts-master-right-block .contacts-master-right-block-second {
	    width: 260px;
	    margin: auto;
	    display: block;
	}

}

@media (max-width: 768px) {
	.page-wrapper .page-container .master-master-content .masters-list .masters-list-item {
	    //flex: auto;
	    width: 33%;
	    height: initial;
    	min-height: 160px;
	}

	.page-wrapper .page-container .content-right-block.services-service-right-block .services-service-right-block-first {
		width: 100%;
	}

	.page-wrapper .page-container .content-right-block.services-service-right-block .services-service-right-block-second {
		width: 100%;
		margin-top: 16px;
	}
	// .contacts-master-note.form-item {
	// 	max-width: 226px;
	// }

	// .choose-options-content {
	//     min-height: 402px;
	//     height: initial;
	// }

	.page-wrapper .page-container .content-right-block.time-master-right-block .time-master-time-schedule {
	    width: calc(100% - 199px);
	}
}

@media (max-width: 713px) {
	.page-wrapper .page-container .content-right-block.time-master-right-block .time-master-title-block  {
		float: none;
	}
	.page-wrapper .page-container .content-right-block.time-master-right-block .time-master-time-schedule {
	    float: none;
	    text-align: left;
	    width: 100%;
	}
	.page-wrapper .page-container .content-right-block.time-master-right-block .time-master-service-list {
		padding-left: 0;
	}

}
@media (max-width: 614px) {
	.content-left-block {
	    display: none;
	}
	.page-wrapper .page-container .contacts-master-content .contacts-master-right-block {
		width: 100%;
	    max-width: 100%;
	    margin: auto;
	}

	.page-wrapper .page-container .content-right-block.time-master-right-block {
		width: 100%;
	}

	.page-wrapper .page-container .master-master-content .masters-list .masters-list-item {
	   // width: 25%;
	}

	//.choose-options-content,
	.page-wrapper .page-container .master-master-content .masters-list {
		max-height: 390px;
	    height: 390px;
	    //overflow: auto;
	}
	.page-wrapper .page-container .master-master-content .masters-list {
		//justify-content: center;
	}

	.page-wrapper .page-container .content-right-block.services-service-right-block {
		width: 100%;
		max-height: 390px;
	    height: 390px;
	    overflow: auto;
	}

	.services-count-result {
		display: none !important;
	}

	.page-wrapper .page-container .content-right-block.services-service-right-block .services-service-right-block-first .services-service-right-block-first-item .services-service-master-title-block span {
		margin-left: 12px;

		p {
			display: inline-block;
		}
	}
	/* Master Service Choose Content */
	.choose-options-content.services-service-content {
		display: none;
	}


	.choose-options-content.services-service-content.services-service-master-chosen {
		display: block;

		.services-service-count-container {
			display: none;
		}
	}
	.choose-options-content.services-service-content.services-service-master-not-chosen {
		display: block;
		position: relative;
	}

	.page-wrapper .page-container .content-right-block.services-service-right-block .services-service-right-block-first .services-service-right-block-first-item .services-service-master-title-block .services-service-title-block-back-btn {
		display: inline-block;
	}

	.page-wrapper .page-container .content-right-block.services-service-right-block .services-service-right-block-first .services-service-right-block-first-item .services-service-master-info {
	    font-size: 12px;
    	font-family: Opensans-Regular;

    	p {
    		display: inline !important;
    	}
	}

	.page-wrapper .page-container .content-right-block.services-service-right-block .services-service-right-block-first .services-service-right-block-first-item {
		padding: 12px;
	}

	.nav-bottom .next.nav-bottom-next {
		width: 140px;
	}

	.page-wrapper .page-container .content-right-block.time-master-right-block .time-master-service-list table {
		float: none;
	}
	.page-wrapper .page-container .content-right-block.time-master-right-block .time-master-title-block,
	.page-wrapper .page-container .content-right-block.time-master-right-block .time-master-time-schedule {
		float: none;
	}

	.page-wrapper .page-container .content-right-block.time-master-right-block .time-master-time-schedule {
		margin-top: 22px;
	}

}

@media (max-width: 490px) {
	.page-wrapper {
		width: 100%;

		.page-inner-wrapper {
		    padding: 10px 20px 30px;
		}

		.page-container {
			.choose-city-wrapper {
				width: 100%;
				padding: 35px 12px;

				.choose-options.choose-city {
					.choose-options-item {
					    width: 46%;

					    .choose-options-item-cont {
					    	width: 100%;
					    }
					}
				}

			}

			.choose-options.choose-options-top {
				display: none;
			}			

			.choose-options.choose-options-top-responsive {
				display: block;
			}

			.address-master-content {
				box-shadow: 0px -1px 15px -4px rgba(0, 0, 0, 0.2), -5px 2px 47px -6px rgba(0, 0, 0, 0.19);

				.address-master-toggle {
					display: block;
				}

				.addresses-box.address-master {
					width: 100%;
					height: 350px;
					max-height: 350px;

					.force-overflow {
						width: 100%;
					}
				}

				.map-container.address-master-map-container {
					width: 100%;
					height: 350px;
				}
			}
		}

	}

	.content-left-block {
		display: none;
	}

	.page-wrapper .page-container .contacts-master-content .contacts-master-right-block .contacts-master-right-block-second {
		display: block;

		textarea {
			height: 70px;
		}
	}

	.page-wrapper .page-container .contacts-master-content .contacts-master-right-block .form-content .form-item textarea {
		height: 70px;
	}

	.page-wrapper .page-container .master-master-content .masters-list .masters-list-item {
	    width: 33%;
	}
}

@media (max-width: 425px) {
	.page-wrapper .page-container .content-right-block.time-master-right-block .time-master-time-schedule .table .tr .td a {
		padding: 4px 10px;
	}
}

@media (max-width: 400px) {
	.page-wrapper .page-container .master-master-content .masters-list .masters-list-item {
	    flex: auto;
	    width: 50%;
	}
}

@media (max-width: 360px) {
	.page-wrapper .page-container .contacts-master-content .contacts-master-right-block .contacts-master-right-block-first, .page-wrapper .page-container .contacts-master-content .contacts-master-right-block .contacts-master-right-block-second {
	    width: 100%;
	}
}
@media (max-width: 350px) {
	.page-wrapper .page-container h3 {
		font-size: 18px;
	}
}


.services-service-left-block-pic-container {
	height: 48px;
	width: 48px;
	border-radius: 50%;
	margin-top: 2px;
	margin-right: 2px;
	background-image: url(../assets/images/master-pic.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
}


/* Map Styles */
.avisits-map {
  	position: relative;

	.avisits-point {
		transition: none !important;
	}

	.avisits-point1 {
		top:30px;
		left:74px;
	}

	.avisits-point2 {
		top:100px;
		left:58px;
	}

	.avisits-point3 {
		bottom:80px;
		left:168px;
	}

	.avisits-point4 {
		bottom:35px;
		left:235px;
	}

	.avisits-point5 {
		bottom:70px;
		right:200px;
	}
	.avisits-point6 {
		top:90px;
		right:80px;
	}

	.avisits-point {
		background:url(../assets/images/point-map.png);
		width:26px;
		height:37px;
		position:absolute;
		z-index:10;
	}

}

.avisits-active {
  background-position: bottom;
}

.avisits-map .avisits-point:hover,
.avisits-map .avisits-point.avisits-active {
	background-position:bottom;
}











